<%- include('partials/header.ejs'); -%>

<h1 class="postTitle">Login</h1>

<form action="/login" method="post" class="form">
    <div class="mb-3">
        <label for="postTitle">User ID</label>
        <input type="text" name="userId" class="form-control" size="50" id="userId">
    </div>
    <br>
    <div class="mb-3">
        <label for="postTitle">Password</label>
        <input type="password" name="password" class="form-control" size="50" id="password">
    </div>
    <br>
    <button type="submit" class="btn btn-danger">Login</button>

    <p class="loginError"><%= isWrong %><p>
</form>





<%- include('partials/footer.ejs'); -%>